<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IProductDao">
<insert id="insertProduct" parameterType="java.util.HashMap">
	insert into product values(0,#{name},#{price},#{pictureurl},#{description})
</insert>
<update id="updateProduct" parameterType="java.util.HashMap">
	update product set price=#{price} where code=#{code}
</update>
<delete id="deleteProduct" parameterType="int">
	delete from product where code=#{code}
</delete>
<select id="selectAll" resultType="java.util.HashMap">
	select * from product
</select>
<select id="selectSearch" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	select * from product where ${type} like CONCAT('%',#{keyword},'%')
</select>
<select id="동적쿼리" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	select * from product where 1=1 
	<if test="type == 1">
	code like CONCAT('%',#{code},'%')
	</if>
	<if test="type == 2"> 
	and name like CONCAT('%',#{name},'%')
	</if>
</select>
</mapper>